<!DOCTYPE html>
<html>
    <head>
        <title>Registeration Form</title>
    </head>
    <body>
        <h2>Registeration form</h2>
        <form method="post" action="/getdata">
            
            <p> <input type="text" name="email" placeholder="Email"></p>
            <p> <input type="password" name="password" placeholder="Password"></p>
            <p> <input type="text" name="city" placeholder="City"></p>
            <p> <input type="text" name="mobile" placeholder="Mobile"></p>
            <input type="submit" value="Register">
        </form>
    </body>
</html>