.container{
	width: 80%;
	margin: 0 auto;
	padding: 20px;
}

.container .img-div{
	height: 200px;
	width: 200px;
	background: orange;
	float: left;
	padding: 10px;
}
.container .img-div p{
	color: white;
}

