<!DOCTYPE html>
<html>
	<head>
		<title>Login Form</title>
		<style type="text/css">
			body{
				text-align: center;
				background-color: orange;
				color: white;
			}
		</style>
	</head>
	<body>
		<h2>Login Form</h2>
		<form method="post" action="/check_login">
			<p> <input type="email" name="email" placeholder="Email"></p>
			<p> <input type="password" name="password" placeholder="Password"></p>
			<p> <input type="submit" value="Login"></p>
		</form>
		<p> <a href="/register">Register </a> </p>
	</body>
</html>