<!DOCTYPE html>
<html>
<head>
	<title>View Dataa</title>
	 <style type="text/css">
            body{
                text-align: center;
            }
        </style>
</head>
<body>
	<p> <a href="/register"> Register</a></p>
	<p> <a href="/imgupload"> Image Upload	</a></p>
		<table border="2">
			<tr>
				<th>Id</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Password</th>
				<th>Mobile</th>
				<th colspan="2">Action</th>
			</tr>
				{% for data in result %}
				<tr>
					<td>{{ data['id'] }}</td>		
					<td>{{ data['fname'] }}</td>		
					<td>{{ data['lname'] }}</td>		
					<td>{{ data['email'] }}</td>		
					<td>{{ data['password'] }}</td>			
					<td>{{ data['mobile'] }}</td>			
					<td><a href="/delete?id={{ data['id'] }}">Delete</a></td>	
				</tr>
				{% endfor %}
		</table>
</body>
</html>